{% extends "layout.html" %}
{% block content %}
	<div class="py-3"></div>
	<div class="h3"> WiFi-kalkulator </div>
	<form method="post" enctype=multipart/form-data>
		<div class="form-group p-3" style="border: 1px lightblue
			solid;border-radius:10px">
			<input type="hidden" name="key" value={{key}}></input>
			<div>
				{% if not queue_full %}
					<label for="floorPlan">Upload a floorplan</label>
					<input class="form-control-file" type="file" id="floorPlan"
					name="floorPlan"></input>
				{% else %}
				<label for="floorPlan">
					<strike>Upload a floorplan</strike> The upload queue is
					full, check back later
				</label>
					<input class="form-control-file" type="file" id="floorPlan"
					name="floorPlan" disabled></input>
				{% endif %}
			</div>
			<input class="mt-3" type="submit" value="Upload"></input>
		</div>
	</form>
{% endblock %}
